<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8" />
    <!-- 去除自动识别电话号码 -->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">

    <title>嘟嘟闯关游戏</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_505790_jfhfcf1fevq.css"/>
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/template/mobile/rainbow/static/js/style.js" type="text/javascript" charset="utf-8"></script>
    <script src="/template/mobile/rainbow/static/js/mobile-util.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/global.js"></script>
    <script src="/template/mobile/rainbow/static/js/layer.js"  type="text/javascript" ></script>
    <script src="/template/mobile/rainbow/static/js/swipeSlide.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/public/upload/logo/2019/02-19/f7fab1ff9dda5f5b41845b23fad3b986.png" media="screen"/>
</head>
<body class="g4">
<style>
    .body_bg{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-image: url("/static/img/theme/login_back.png");
        background-size: 100% auto;
    }
</style>
<div class="body_bg"></div>

<div class="classreturn loginsignup ">
    <div class="content">
        <div class="ds-in-bl return [back]">
            <a id="[back]" href="/index.php/Mobile/User/userDetail.html">
                <i class="iconfont icon-jiantouzuo" style="[headerNewStyle]"></i>
                <!-- <img src="/template/mobile/rainbow/static/images/return.png" alt="返回"> -->
            </a>
        </div>
        <div class="ds-in-bl search center">
            <span>绑定微信</span>
        </div>
        <div class="ds-in-bl menu tpnavf">
            <a href="javascript:void(0);"><img src="/template/mobile/rainbow/static/images/class1.png" alt="菜单"></a>
        </div>
    </div>
</div>
<div class="flool up-tpnavf-wrap tpnavf [top-header]">
    <div class="footer up-tpnavf-head">
        <div class="up-tpnavf-i"> </div>
        <ul>
            <li>
                <a class="yello" href="/index.php/mobile/Index/index.html">
                    <div class="icon">
                        <i class="icon-shouye iconfont"></i>
                        <p>首页</p>
                    </div>
                </a>
            </li>
            <!--  <li>
                 <a href="/index.php/mobile/Goods/categoryList.html">
                     <div class="icon">
                         <i class="icon-fenlei iconfont"></i>
                         <p>分类</p>
                     </div>
                 </a>
             </li> -->
            <li>
                <a href="/index.php/mobile/Cart/index.html">
                    <div class="icon">
                        <i class="icon-gouwuche iconfont"></i>
                        <p>购物车</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/index.php/mobile/User/index.html">
                    <div class="icon">
                        <i class="icon-wode iconfont"></i>
                        <p>我的</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">

    $(function(){
        $(window).scroll(function() {
            if($(window).scrollTop() >= 1){
                $('.tpnavf').hide()
            }
        })
    })
</script>
<link rel="stylesheet" href="/template/mobile/rainbow/static/css/userInfo.css?v=20190308112730">
<style>
    #upload{
        padding: 0;
        width: 100%;
    }
    .classreturn{
        background-color: rgba(255, 255, 255, .1);
    }
    body.g4{
        background-color: rgba(255, 255, 255, .1);
        height: 100%;
    }
</style>
<div class="page_title" style="color: rgba(255, 255, 255, .4)">
    请绑定用户本人的绑定微信账号
</div>
<form class="bind_panel" id="upload">
    <ul class="setting-list">


        <li class="setting-item flex_panel">
            <span class="name">微信账号</span>
            <input type="text" name="al_account" class="main" placeholder="请输入微信账号" value="18910172928">
        </li>


        <!-- <li class="setting-item flex_panel">
          <span class="name">手机号</span>
          <input type="text" name="mobile" class="main" placeholder="请输入手机号" value="18910172928" readonly>
        </li>


        <li class="setting-item flex_panel">
          <span class="name">姓名</span>
          <input type="text" name="name" class="main" placeholder="请输入姓名" value="">
        </li> -->
    </ul>
    <input type="hidden" name="type" value="2" placeholder="">
</form>
<div class="upgrade_btn" style="margin:1.28rem .85rem;">
    <a href="javascript:;" class="btn" style="font-weight: 300;">立即绑定</a>
</div>
<script>
    $(function() {
        $(".btn").on('click', function() {
            let formData = $("#upload").serializeArray().reverse();
            let error_msg = '';

            formData.forEach((v, k) => {
                if (v.value == '') {
                error_msg = $("input[name='" + v.name + "']").attr('placeholder');
                switch (v.name) {
                    case 'mobile':
                        if (!(/^1[34578]\d{9}$/.test(v.value))) {
                            error_msg = '请输入正确的手机号码'
                        }
                        break;
                }
            }
        })

            if (error_msg != '') {
                layer.open({
                    content: error_msg,
                    time: 2000
                })
            } else {
                $.ajax({
                    url: '/index.php/mobile/user/bindAccount',
                    type: 'POST',
                    dataType: 'json',
                    data: $("#upload").serialize(),
                    success: function(res) {
                        if(res.status == 1){
                            showErrorMsg(res.msg);
                            setTimeout(function(){
                                location.href='/index.php/Mobile/User/userDetail';
                            },1000)
                        }else{
                            showErrorMsg(res.msg);
                        }
                    }
                })
            }

        })
    })
</script>
</body>

</html>