
<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">

    <title>嘟嘟闯关游戏</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/order.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_505790_jfhfcf1fevq.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/layer.css"/>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/style.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/mobile-util.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/global.js"></script>
    <script src="/static/js/layer.js"  type="text/javascript" ></script>
    <script src="/static/js/swipeSlide.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/public/upload/logo/2019/02-19/f7fab1ff9dda5f5b41845b23fad3b986.png" media="screen"/>
</head>
<body class="[body]">
<style>
    .body_bg{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-image:url("//dudu001-1258827509.cos.ap-chengdu.myqcloud.com/login_back.png");
        background-size: 100% auto;
    }
</style>
<div class="body_bg"></div>

<div class="classreturn loginsignup ">
    <div class="content">
        <div class="ds-in-bl return [back]">
            <a id="[back]" href="/user/updateLevel">
                <i class="iconfont icon-jiantouzuo" style="[headerNewStyle]"></i>
            </a>
        </div>
        <div class="ds-in-bl search center">
            <span>商家信息</span>
        </div>
        <div class="ds-in-bl menu tpnavf">
            <a href="javascript:void(0);"><img src="/static/img/theme/class1.png" alt="菜单"></a>
        </div>
    </div>
</div>
<div class="flool up-tpnavf-wrap tpnavf [top-header]">
    <div class="footer up-tpnavf-head">
        <div class="up-tpnavf-i"> </div>
        <ul>
            <li>
                <a class="yello" href="/mobile/Index/index.html">
                    <div class="icon">
                        <i class="icon-shouye iconfont"></i>
                        <p>首页</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">

    $(function(){
        $(window).scroll(function() {
            if($(window).scrollTop() >= 1){
                $('.tpnavf').hide()
            }
        })
    })
</script>

<link rel="stylesheet" href="/static/css/order.css">
<style type="text/css">
    .classreturn{
        background-color: rgba(255, 255, 255, .1);
    }
    .detail-list .detail-item .content {
        color: rgba(255, 255, 255, .8);
    }
    .detail-list{
        padding-bottom: .5rem;
    }
</style>
<!-- <div class="page_title" style="color:#6356E2;">
  温馨提示：您已满足升级下一等级的条件，请联系一下用户并向他购买产品，对方审核通过后即可升级成功！
</div> -->
<form action="/mobile/index/gift_giving.html" method="post" id="giftForm" enctype="multipart/form-data">
    <ul class="detail-list">
        <li class="detail-item title">
            商家信息
        </li>

        <li class="detail-item">
            <span class="name">用户姓名</span>
            <span class="content" th:text="${levelOne.username}">
                 </span>
        </li>

        <li class="detail-item">
            <span class="name">手机号：</span>
            <span class="content" th:text="${levelOne.telNum}"></span>
        </li>

        <li class="detail-item">
            <span class="name">备用手机号：</span>
            <span class="content" th:text="${levelOne.telNum2}"></span>
        </li>

        <li class="detail-item">
            <span class="name">支付宝号：</span>
            <span class="content" th:text="${levelOne.aliPay}"></span>
        </li>
        <li class="detail-item">
            <span class="name">微信号：</span>
            <span class="content" th:text="${levelOne.weChat}"></span>
        </li>

        <!-- 收货地址 -->
        <li class="detail-item">
            <span class="name">收货方式：</span>
            <span class="content">
          <i class="receiving " data-type="2">快递</i>
          <i class="receiving active" data-type="1">自提</i>
        </span>
        </li>
        <li class="detail-item gift_my_address">
            <div class="gift_address_choose">
                <a href="/Mobile/User/address_list/preurl/aHR0cDovL3NhbGUuMTBtZi5vcmcvbW9iaWxlL2luZGV4L2dpZnRfZ2l2aW5nLmh0bWw%3D/type/croos.html">
                    <input type="hidden" value="84412" name="address_id">
                    <div class="gift_addres_top clearfix">
                        <div class="fl my_name"><span>姓名：</span>  敏敏</div>
                        <div class="fl my_tel">15021700700</div>
                    </div>
                    <div class="gift_addres_bottom clearfix">
                        <div class="fl"><span>收货地址:</span></div>
                        <div class="fr gift_addres_detail">
                            <p>天津市路路11号</p>
                        </div>
                    </div>
                    <div class="gift_addres_setting">
                        <i class="Mright"></i>
                    </div>
                </a>
            </div>
        </li>
        <!-- 收货类型 1为自提 2快递-->
        <input type="hidden" class="type" name="collect_type" value="1" />
    </ul>
    <ul class="detail-list">
        <li class="detail-item title">
            商家信息
        </li>
        <li class="detail-item">
            <span class="name">用户姓名</span>
            <span class="content" th:text="${levelTwo.username}">
            </span>
        </li>

        <li class="detail-item">
            <span class="name">手机号：</span>
            <span class="content" th:text="${levelTwo.telNum}"></span>
        </li>

        <li class="detail-item">
            <span class="name">备用手机号：</span>
            <span class="content" th:text="${levelTwo.telNum2}"></span>
        </li>
        <li class="detail-item">
            <span class="name">支付宝号：</span>
            <span class="content" th:text="${levelTwo.aliPay}"></span>
        </li>
        <li class="detail-item">
            <span class="name">微信号：</span>
            <span class="content" th:text="${levelTwo.weChat}"></span>
        </li>

        <!-- 收货地址 -->
        <li class="detail-item">
            <span class="name">收货方式：</span>
            <span class="content">
            <i class="receiving" data-type="2">快递</i>
            <i class="receiving active" data-type="1">自提</i>
          </span>
        </li>
        <li class="detail-item gift_my_address">
            <div class="gift_address_choose">
                <a href="/Mobile/User/address_list/preurl/aHR0cDovL3NhbGUuMTBtZi5vcmcvbW9iaWxlL2luZGV4L2dpZnRfZ2l2aW5nLmh0bWw%3D/type/croos.html">
                    <input type="hidden" value="84412" name="cross_address_id">
                    <div class="gift_addres_top clearfix">
                        <div class="fl my_name"><span>姓名：</span>  敏敏</div>
                        <div class="fl my_tel">15021700700</div>
                    </div>
                    <div class="gift_addres_bottom clearfix">
                        <div class="fl"><span>收货地址:</span></div>
                        <div class="fr gift_addres_detail">
                            <p>天津市路路11号</p>
                        </div>
                    </div>
                    <div class="gift_addres_setting">
                        <i class="Mright"></i>
                    </div>
                </a>
            </div>
        </li>
        <!-- 收货类型 1为自提 2快递-->
        <input type="hidden" class="type" name="croos_collect_type" value="1" />
    </ul>

    <input type="hidden" value="153471049"   name="croos_user_id">
    <input type="hidden" value="153509814"   name="collect_user_id">
</form>

<!-- 如果没有送礼也没有待审核数据 -->
<div class="upgrade_btn" style="margin:1.28rem .85rem .5rem;">
    <a href="javascript:;" class="bottom_btn" style="position: static;">确认闯关</a>
</div>



<!-- 引入手机输入密码 -->
<!--<script src="/template/mobile/rainbow/static/js/mobilePassword/mobilePassword.js"></script>-->
<link rel="stylesheet" href="/static/css/mobilePassword.css">
<script>
    $('.gift_my_address').hide();//初始化 自提
    //显示上传照片
    window.URL = window.URL || window.webkitURL;

    var password = new mobilePassword({
        size: 6,
        title: '请输入支付密码',
        callback: (res) => {
        $("input[name='password']").val(res);
    // console.log($("#giftForm").serialize())
    $("#giftForm").submit();
    },
    forgetAction: function() {
        console.log('忘记密码了')
    }
    })

    $(function() {
        // 選擇收貨方式
        $('#giftForm').on('click','.receiving',function(){
            $(this).addClass('active').siblings().removeClass('active');
            var type = $(this).data('type');
            if(type == '1'){
                $(this).parents('li').siblings('.gift_my_address').hide();
            }else{
                $(this).parents('li').siblings('.gift_my_address').show();
            }
            // 写入收货方式
            $(this).parents('ul').find('input.type').val(type);
        })



        $(".bottom_btn").on('click', function() {
            var croos_user_id = $("input[name='croos_user_id']").val();
            var collect_user_id = $("input[name='collect_user_id']").val();
            console.log(croos_user_id);
            console.log(collect_user_id);
            $("#giftForm").submit();

        })
    })

    // 修改付款类型
    function changePayWay(obj) {
        let pay_way = $(obj).val();
        let way_str = {
            1: '支付宝',
            2: '微信',
        }

        $.ajax({
            url: '/mobile/index/getAccount/type/' + pay_way,
            type: 'POST',
            dataType: 'json',
            data: $("#upload").serialize(),
            success: function(res) {
                if (res.status == 1) {
                    $("#account").val(res.account);
                }
            }
        })
    }


    // 上传图片
    function uploadVoucher(obj) {
        var files = obj.files;
        img = new Image();
        if (window.URL) {
            img.src = window.URL.createObjectURL(files[0]); //创建一个object URL，并不是你的本地路径
            img.width = 60;
            img.height = 60;
            img.onload = function(e) {
                window.URL.revokeObjectURL(this.src); //图片加载后，释放object URL
            }

        } else if (window.FileReader) {
            //opera不支持createObjectURL/revokeObjectURL方法。我们用FileReader对象来处理
            var reader = new FileReader();
            reader.readAsDataURL(files[0]);
            reader.onload = function(e) {
                img.src = this.result;
                img.width = 60;
                img.height = 60;
            }
        } else {
            //ie
            obj.select();
            obj.blur();
            var nfile = document.selection.createRange().text;
            document.selection.empty();
            img.src = nfile;
            img.width = 60;
            img.height = 60;
            img.onload = function() {}
        }

        $("#voucher").find('img').remove();
        $("#voucher").append(img);
    }
</script>

</body>

</html>