<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <title>嘟嘟闯关游戏-用户首页</title>
    <meta charset="UTF-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_505790_jfhfcf1fevq.css"/>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/layer.js"  type="text/javascript" ></script>
    <script src="/static/js/swipeSlide.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body class="g4">
<style>
    .body_bg {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-image:url("//dudu001-1258827509.cos.ap-chengdu.myqcloud.com/login_back.png");
        background-size: 100% auto;
    }
</style>
<div class="body_bg"></div>

<link rel="stylesheet" href="/static/css/swiper.4.0.7.css">
<body>
<!-- 首页 -->
<div class="classreturn loginsignup " style="border: none;">
    <div class="content">
        <div class="ds-in-bl search center">
            <span>嘟嘟闯关游戏</span>
        </div>
        <div style="position: absolute;right:.42667rem;top:0;">
            <a href="/user/suggest" style="color: rgba(255, 255, 255, .8);">投诉建议</a>
        </div>
    </div>
</div>

<!--顶部滚动广告栏-s-->
<div class="index_banner">
    <div class="swiper-container meirong_banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:;">
                    <img src="/static/upload/indexImg_001.png" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;">
                    <img src="/static/upload/indexImg_002.png" alt="">
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>


<!-- 用户等级信息展示 -->
<div class="index_info">
    <ul>
        <li style="color: rgba(255, 255, 255, .8);"><em>I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D:</em><span
                th:text="${user.id} "></span>
        </li>
        <li style="color: rgba(255, 255, 255, .8);"><em>等&nbsp;&nbsp;&nbsp; 级:</em>第<span th:text="${user.level} "/>关<span th:text="${user.levelName} "/>
            <i class="that_button">等级介绍</i>
        </li>
        <li style="color: rgba(255, 255, 255, .8);"><em>姓&nbsp;&nbsp;&nbsp; 名:</em><span th:text="${user.username} "/>
        </li>
        <li style="color: rgba(255, 255, 255, .8);"><em>推荐人:</em><span th:text="${user.referrerName} "/></li>
    </ul>
    <a class="index_info_creditPoints" href="/user/credit">信用分：100分</a>
    <a class="index_info_setting" href="/user/userDetail">账号安全设置</a>
</div>

<!-- 中部导航 s-->
<div class="index_middle_nav">
    <ul>
        <li>
            <a href="/user/helpRegister">
                <img src="/static/img/theme/home_001.png" alt="帮助注册">
                <p>帮助注册</p>
            </a>
        </li>
        <li>
            <a href="/user/updateLevel">
                <img src="/static/img/theme/home_002.png" alt="申请闯关">
                <p>申请闯关</p>
            </a>
        </li>
        <li>
            <a href="/user/collect">
                <img src="/static/img/theme/home_003.png" alt="审核闯关">
                <p>审核闯关</p>
            </a>
        </li>
        <li>
            <a href="/user/myTeam">
                <img src="/static/img/theme/home_004.png" alt="行会大厅">
                <p>行会大厅</p>
            </a>
        </li>
    </ul>
</div>
<!-- 中部导航 e-->

<!-- 底部客服 s-->
<div class="index_bottom_service_box">
    <div class="index_bottom_service" style="color: #6356E2;">
        在线客服： QQ 405107375            </div>
</div>
<!-- 底部客服 e-->
<div class="index_dialog_mask"></div>
<div class="index_dialog" >
    <div class="dialog_title">
        <img src="/static/img/theme/index_dialog_title.png" alt="title">
    </div>
    <div class="dialog_line"></div>
    <div class="dialog_content">
        <ul>
            <li><img src="/static/img/theme/ad9feadc3ef10af6c02a73053f471d56.png" alt="第13关独孤求败"></li>
            <li><img src="/static/img/theme/4a7f62f91a679e945847392df9e3716b.png" alt="第12关傲视天下"></li>
            <li><img src="/static/img/theme/7dbd32a6547a544b0ecb671a3bea1aec.png" alt="第11关笑看风云"></li>
            <li><img src="/static/img/theme/ab8894ff77ee6702d1797cbd751179cd.png" alt="第10关震古烁今"></li>
            <li><img src="/static/img/theme/7e29939d7e3c0d56ee692fe67eda301c.png" alt="第9关名震四海"></li>
            <li><img src="/static/img/theme/e18c1811136caf3ff1183b98f2f481e4.png" alt="第8关威名远播"></li>
            <li><img src="/static/img/theme/e538a761b56ddc43cb1d6a17c33451cc.png" alt="第7关大名鼎鼎"></li>
            <li><img src="/static/img/theme/19aefb0dc765be396c1c21e033f6e395.png" alt="第6关闻名遐迩"></li>
            <li><img src="/static/img/theme/3cdb18ee44c378b648c03f4c43830f85.png" alt="第5关赫赫有名"></li>
            <li><img src="/static/img/theme/ce7e84fc0effdd8124748ec09c78b45c.png" alt="第4关名噪一时"></li>
            <li><img src="/static/img/theme/b87d552f154c801a91e898400b07c251.png" alt="第3关声明鹊起"></li>
            <li><img src="/static/img/theme/fb0468b286ebb0a0a85f0760d399ccf6.png" alt="第2关小有名气"></li>
            <li><img src="/static/img/theme/12f78c87e5cda24d5fc586ca7b6ce33b.png" alt="第1关声名不显"></li>
            <li><img src="/static/img/theme/23544644eb2d2f0fef4b7fb194e5e290.png" alt="默默无闻"></li>
        </ul>
    </div>
</div>
<!-- 等级弹窗 e-->
<a onclick="$('html,body').animate({'scrollTop':0},600)" class="back-to-top" id="topup">
    <img src="/static/img/theme/topup.png">
</a>


</body>
</body>

<script>
    $('.that_button').click(function(){
        $('.index_dialog_mask').show();
        $('.index_dialog').toggle();
    })
    $('.index_dialog_mask').click(function(){
        $('.index_dialog_mask').hide();
        $('.index_dialog').hide();
    })

</script>

</html>
