<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <title>嘟嘟闯关游戏</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_505790_jfhfcf1fevq.css"/>

    <!--<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->

</head>
<body class="">
<style>
    .body_bg{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-image:url("//dudu001-1258827509.cos.ap-chengdu.myqcloud.com/login_back.png?q-sign-algorithm=sha1&q-ak=AKIDB7DKu4q8SaS1W4dHgpryLHpnmgQK6zLb&q-sign-time=1552627337;1552629137&q-key-time=1552627337;1552629137&q-header-list=&q-url-param-list=&q-signature=f1ce8fd4b702ba2d5e66b6a55b796f2e2c790dcf&x-cos-security-token=2a49b5e4077d8c07d49868d9d592958c26e266c410001");
        background-size: 100% auto;
    }
</style>

<div class="body_bg"></div>


<div class="logo-wrap-bg">
    <a class="login-logo-wrap" href="javascript:void(0);">
        <div>
            <img  src="/static/img/theme/login_logo.png" alt="LOGO" >
        </div>
    </a>
    <p>嘟嘟闯关游戏</p>
</div>
<div class="loginsingup-input loginsingup-input_login">
    <!--登录表单-s-->
    <h1>登录</h1>
    <form  id="loginform" method="post"  >
        <input type="hidden" name="referurl" id="referurl" value="/Mobile/User/index.html">
        <div class="lsu">
            <span class="ico ico-username"></span>
            <input type="text" name="username" id="username" value=""  placeholder="请输入您的手机号码" maxlength="11"   onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
        </div>
        <div class="lsu">
            <span class="ico ico-password"></span>
            <input type="password" name="password" id="password" value="" placeholder="请输入您的登录密码"  onkeyup="this.value=this.value.replace(/\s+/g,'')">
        </div>

    </form>
    <div class="signup-find p">
        <a class="note fl" href="/user/self_reg">注册账号</a>
    </div>
    <div class="lsu-submit">
        <input type="button"  value="登 录"  onclick="userLogin()" class="btn_big1"  />
    </div>

</div>


<script type="text/javascript">
    function verify(){
        $('#verify_code_img').attr('src','/index.php?m=Mobile&c=User&a=verify&r='+Math.random());
    }

    //复选框状态
    function remember(obj){
        var che= $(obj).attr("class");
        if(che == 'che check_t'){
            $("#autologin").prop('checked',false);
        }else{
            $("#autologin").prop('checked',true);
        }
    }
    function userLogin()
    {
        var username = $.trim($('#username').val());
        var password = $.trim($('#password').val());
        var data = {username:username,password:password};
        $.ajax({
            type : 'post',
            url : '/user/login',
            data : data,
            dataType : 'json',
            success : function(data){
                if(data.code == 1){
                    window.location.href = '/user/home';
                }else{
                    alert(data.message);
                }


                // if(data.status == 1){
                //     var url = decodeURIComponent(data.url);
                //
                //     if (url.indexOf('user') >= 0 && url.indexOf('login') >= 0 || url == '') {
                //         window.location.href = '/user/home';
                //     }else{
                //         window.location.href = '/index.php/mobile';
                //         // window.location.href = "/mobile/user/index.html";
                //
                //     }
                // }else if(data.status == -3){
                //     // console.log(data);
                //     window.location.href = data.url;
                //     // layer.open({content: data.msg,time:5});
                // }else{
                //     layer.open({content: data.msg,time:2,end:function () {
                //             if (codeExist) {
                //                 // verify();
                //             } else {
                //                 // location.reload();
                //             }
                //         }});
                // }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                alert('网络异常，请稍候重试');
            }
        })
    }
</script>

</body>
</html>