/* public */

.flex_panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ma-to-20 {
    margin-top: .48rem;
}


/* public end */

.orderList-status {
    /*background-color: #Fff;*/
    height: 1.707rem;
    overflow: scroll;
    flex-wrap: nowrap;
}

.status_item {
    min-width: 23%;
    width: 25%;
    text-align: center;
    line-height: 2.159998rem;
    height: 100%;
    display: block;
}

.status_item .status-name {
    width: 70%;
    margin: 0 auto;
    height: 1.707rem;
    display: block;
    color: rgba(255, 255, 255, .4);
    border-radius: .096rem;
    -webkit-border-radius: .096rem;
    -moz-border-radius: .096rem;
    -ms-border-radius: .096rem;
    -o-border-radius: .096rem;
    font-size: .554rem;
}

.status_item.active .status-name{
    font-size: .64rem;
    font-weight: 600;
    color: rgba(255, 255, 255, .8);
    position: relative;
}
.status_item.active .status-name::after{
    content: "";
    height: .085rem;
    width: .64rem;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* 订单列表 */

.orderList-list {
    width: 100%;
}

.orderList-list .list-item {
    width: 100%;
    padding: 0 .48rem;
    /* margin-bottom: .48rem; */
    border: 1px solid rgba(255, 255, 255, .1);
    display: block;
    background-color: #fff;
}

.orderList-list .list-item:last-child {
    margin-bottom: 0;
}

.orderList-list .list-item .order-info {
    height: 1.679999rem;
    line-height: 1.679999rem;
    font-size: .576rem;
    color: #999999;
    justify-content: space-between;
}

.orderList-list .list-item .order_status_text {
    color: #FF8C00;
    font-size: .512rem;
}

.goods-info {
    /* border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5; */
    min-height: 3.2rem;
    padding-top: .24rem;
    background-color: #fff;
    padding: .24rem .426667rem 0 .426667rem;
}

.goods-info .goods-img {
    width: 1.92rem;
    height: 1.92rem;
    margin-right: .48rem;
    border-radius: .96rem;
    -webkit-border-radius: .96rem;
    -moz-border-radius: .96rem;
    -ms-border-radius: .96rem;
    -o-border-radius: .96rem;
}

.goods-info .goods-detail {
    /* width: 70%; */
    flex: 1;
    min-height: 1.92rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #222222;
}

.goods-info .goods-detail .detail-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #38373D;
    font-size: .624rem;
    line-height: 1.5;
}

.goods-info .goods-detail .detail-spec {
    justify-content: space-between;
    font-size: 24px;
    color: #7C7D7F;
}

.goods-info .goods-detail .detail-spec-list {
    width: 90%;
}

.goods-info .goods-detail .detail-spec-list span {
    margin-right: .24rem;
    font-size: .597333rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.goods-info .goods-detail .goods-msg {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #7C7D7F;
}

.goods-info .goods-detail .more {
    text-align: right;
    color: #0097fb;
    font-size: .426667rem;
    margin: .106667rem 0;
}

.goods-info .goods-detail .goods-status {
    font-size: .554667rem;
    color: #FF840A;
    margin-top: .106667rem;
}

.goods-info .goods-detail .goods-num {
    font-size: .576rem;
    color: #222222;
}

.goods-info .goods-detail .goods-price {
    color: #FF8C00;
    font-size: .512rem;
}

.goods-info .goods-detail .goods-price.red {
    color: #F73B37;
}

.goods-info .goods-detail .info {
    color: #222222;
    justify-content: space-between;
    font-size: .512rem;
    line-height: .8rem;
}

.goods-info .goods-detail .info .user_name {
    font-size: .554667rem;
    font-weight: bold;
    color: #38373D;
}

.goods-info .goods-detail .info .mobile {
    color: #7C7D7F;
}

.order-handle {
    height: 1.919998rem;
    justify-content: flex-end;
    background-color: #fff;
}

.list-item .isComplain{
    color: rgba(255, 255, 255, .3);
    font-size: .512rem;
    float: left;
    margin-top: .81rem;
}


.order-handle .handle-btn {
    margin-left: .24rem;
    text-align: center;
    height: 1.199999rem;
    line-height: 1.199999rem;
    border: 1px solid #FF8C00;
    color: #FF8C00;
    font-size: .55rem;
    border-radius: 0.5999995rem;
    -webkit-border-radius: 0.5999995rem;
    -moz-border-radius: 0.5999995rem;
    -ms-border-radius: 0.5999995rem;
    -o-border-radius: 0.5999995rem;
    display: block;
    padding: 0 .426667rem;
}

.order-handle .handle-btn.refuse {
    color: #999999;
    border-color: #999999;
}


/* 订单详情 */

.page_title {
    width: 100%;
    padding: 0 .426667rem;
    line-height: 1.5;
    color: #666666;
    font-size: .597333rem;
    margin-top: .426667rem;
}

.order__detail--head {
    width: 100%;
    height: 2.773333rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .8rem 0 1.3rem;
    color: #fff;
    font-size: .815999rem;
    line-height: 1.5;
    background-image: url('../images/order_detail_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.order__detail--head .order__status {
    font-size: .815999rem;
    font-weight: bold;
    margin-bottom: .1rem;
}

.detail-list {
    width: 95%;
    margin: .426667rem auto;
    background-color: #ffffff;
    border-radius: .213333rem;
    -webkit-border-radius: .213333rem;
    -moz-border-radius: .213333rem;
    -ms-border-radius: .213333rem;
    -o-border-radius: .213333rem;
    font-size: .512rem;
}

.detail-list .detail-item {
    width: 95%;
    margin: 0 auto;
    line-height: 1.792rem;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #333333;
    font-weight: bold;
    flex-wrap: wrap;
}

.detail-list .detail-item.title {
    color: #FF8C00;
    font-size: .554667rem;
    font-weight: bold;
}

.detail-list .detail-item .name {
    color: rgba(255, 255, 255, .8);
    font-weight: normal;
    width: 3.2rem;
}

.detail-list .detail-item .content {
    flex: 1;
    color: rgba(255, 255, 255, .8);
}

.detail-list .detail-item .content_input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.detail-list .detail-item select {
    width: 70%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: .021333rem solid #e5e5e5;
    outline: none;
    background-color: #fff;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.8rem 0 0.48rem;
    background: url("../images/dg.png") no-repeat scroll right center transparent;
    background-position-x: 95%;
    border-radius: .213333rem;
    -webkit-border-radius: .213333rem;
    -moz-border-radius: .213333rem;
    -ms-border-radius: .213333rem;
    -o-border-radius: .213333rem;
    padding-right: .213333rem;
}

.detail-list .detail-item .img_content {
    width: 100%;
    margin-bottom: .426667rem;
}

.detail-list .detail-item .img_content img {
    width: 100%;
    height: auto;
}

.detail-list .detail-item:last-child {
    border-bottom: none;
}
/* 发货上传凭证方式 */
.kd_choose_updata_box{
    padding: .427rem;
}
.kd_choose_updata {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .597rem;
    display:flex;
    color: rgba(255, 255, 255, .8);
}
.kd_choose_updata   select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/theme/select_option.png) no-repeat scroll right center transparent;
    background-position-x: 95%;
    background-size: .64rem;
    padding: 0 .47rem;

    width: 66%;
    height: 100%;
    color: rgba(255, 255, 255, .3);
    outline: none;
    font-size: .597rem;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 0.213rem;
}

.kd_choose_updata   select::-ms-expand {
    display: none;
}
.kd_choose_updata   select  option{
    color: black;
    background: rgba(255, 255, 255, .1);
}
.kd_choose_updata   select  option:hover{
    background: rgba(255, 255, 255, .1);
}
.kd_input{
    background-color: rgba(255, 255, 255, .1);
}
.kd_input input{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0 .427rem;
    height: 1.92rem;
    color: rgba(255, 255, 255, .8);
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}


/* 弹出层图片，配合layeropen使用 */

.showImg {
    width: 15rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.noBg {
    background-color: rgba(0, 0, 0, 0);
}

.showImg .main_img {
    width: 100%;
    height: auto;
}

.showImg .close {
    width: 1rem;
    height: 1rem;
    margin: 1rem auto;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 500;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.remark_alert {
    width: 10.666667rem;
    height: 6.4rem;
    background-color: #fff;
    border-radius: .213333rem;
    -webkit-border-radius: .213333rem;
    -moz-border-radius: .213333rem;
    -ms-border-radius: .213333rem;
    -o-border-radius: .213333rem;
    text-align: center;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.remark_alert .alert_title {
    width: 100%;
    height: 1.92rem;
    line-height: 1.92rem;
    font-weight: bold;
    color: #333333;
    font-size: .682667rem;
    border-bottom: .021333rem solid #E5E5E5;
}

.remark_alert .alert_content {
    width: 90%;
    height: 1.28rem;
    margin: .64rem auto;
    border: .021333rem solid #999999;
    border-radius: .213333rem;
    -webkit-border-radius: .213333rem;
    -moz-border-radius: .213333rem;
    -ms-border-radius: .213333rem;
    -o-border-radius: .213333rem;
    padding: .426667rem;
}

.remark_alert .alert_content .main_input {
    flex: 1;
    border: none;
    outline: none;
}

.remark_alert .alert_content .edit_img {
    width: .597333rem;
    height: .597333rem;
    margin-left: .213333rem;
}

.remark_alert .alert_btn {
    width: 4.266667rem;
    height: 1.28rem;
    line-height: 1.28rem;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #FF8C00;
    border-radius: .853333rem;
    -webkit-border-radius: .853333rem;
    -moz-border-radius: .853333rem;
    -ms-border-radius: .853333rem;
    -o-border-radius: .853333rem;
}


/* 加载更多样式 */

.to-load {
    text-align: center;
    /* height: 2rem;
    line-height: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.to-load img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    margin-right: 0.3rem;
    display: none;
}

.to-load .load-tip {
    font-size: 0.6rem;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.end_line {
    width: 100%;
    /* height: 100%; */
    height: 2rem;
    line-height: 2rem;
    position: relative;
    text-align: center;
    display: block;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

.to-load .end_line:after,
.to-load .end_line:before {
    content: " ";
    position: absolute;
    width: 15%;
    height: 0.04rem;
    background-color: #d4d4d4;
    left: 15%;
    top: 50%;
}

.to-load .end_line:before {
    left: 70%;
}

.to-load i {
    font-size: 1rem;
}

.empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.empty img {
    width: 6rem;
}

.empty .msg {
    margin: .426667rem auto;
    color: #999999;
    font-size: .597333rem;
}

.empty .btn {
    width: 90%;
    height: 1.706667rem;
    color: #fff;
    font-size: .768rem;
    /*background-color: #FF8C00;*/
    text-align: center;
    line-height: 1.706667rem;
    border-radius: .853333rem;
    -webkit-border-radius: .853333rem;
    -moz-border-radius: .853333rem;
    -ms-border-radius: .853333rem;
    -o-border-radius: .853333rem;
}

.bottom_btn {
    width: 100%;
    height: 1.877333rem;
    line-height: 1.877333rem;
    text-align: center;
    background-color: #FF8C00;
    color: #fff;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: .682667rem;
}


/* 投诉列表 */
.compaintNav{
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.compaintNav ul{
    display: flex;
    height: 1.707rem;
}
.compaintNav ul li{
    flex: 1;
}
.compaintNav ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 1.707rem;
    text-align: center;
    color: rgba(255, 255, 255, .4);
    font-size: .555rem;
}
.compaintNav ul li.active a{
    color: rgba(255, 255, 255, .8);
    font-size: .6rem;
    font-weight: 600;
    position: relative;
}
.compaintNav ul li.active a::after{
    content: "";
    height: .085rem;
    width: 1.28rem;
    position: absolute;
    background-color:rgba(255, 255, 255, .8);
    bottom: .05rem;
    left: 50%;
    transform: translateX(-50%);

}
.complaintList {
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    /* min-height: calc(100vh - 3.585rem) */
}

.complaintList .complaint_item {
    width: 100%;
    padding:.85rem .427rem .427rem .85rem;
    display: block;
    margin-bottom: .85rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.complaintList .complaint_item:last-child{
    padding:.85rem .427rem 0 .85rem;
    margin: 0;
}

.complaintList .complaint_item .title {
    width: 100%;
    justify-content: space-between;
}
.complaintList .complaint_item .title img.img {
    width: 1.493rem;
    height: 1.493rem;
    border-radius: 50%;
    margin-right: .427rem;
}
.complaintList .complaint_item .title span.name {
    color: rgba(255, 255, 255, .8);
}

.complaintList .complaint_item  .complaint_item_info {
    padding-left: 2.13rem;
    color: rgba(255, 255, 255, .8);
}
.complaint_history_box{
    overflow: hidden;
    margin: .64rem 0 .853rem;
}
.complaint_history{
    border: 2px dashed rgba(255, 255, 255, .4);
    -webkit-border-radius:.2rem;
    border-radius: .2rem;
    padding: .64rem;
    position: relative;
}
.complaint_history > img{
    width: 1.493rem;
    height: 1.493rem;
    border-radius: .2rem;
    margin-right: .597rem;
}
.complaint_history .complaint_history_info .name{
    font-weight: 600;
    font-size: .6rem;
    color: rgba(255, 255, 255, .8);
    line-height: .65rem;
}
.complaint_history .complaint_history_info .info{
    font-size: .512rem;
    color: rgba(255, 255, 255, .6);
    line-height: .7rem;
    margin-top: .085rem;
}
.complaint_history .complaint_history_info i.complaint_goOther{
    position: absolute;
    right: .512rem;
    top: 50%;
    transform: translateY(-50%);
    width: .512rem;
    height: .512rem;
    background: url(../images/theme/complaint_goOther.png) no-repeat;
    background-size: 100% 100%;
}
.complaintList .complaint_item .title .title_content {
    color: rgba(255, 255, 255, .8);
    font-size: .671999rem;
    font-weight: bold;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}

.complaintList .complaint_item .title .status {
    font-size: .512rem;
    color: rgba(255, 255, 255, .3);
    padding: 0 .24rem;
    height: .959999rem;
    line-height: .959999rem;
    border-radius: .48rem;
    -webkit-border-radius: .48rem;
    -moz-border-radius: .48rem;
    -ms-border-radius: .48rem;
    -o-border-radius: .48rem;
}

.complaintList .complaint_item .detail_content {
    width: 100%;
    color: rgba(255, 255, 255, .8);
    font-size: .512rem;
    height: 1.408rem;
    line-height: .75rem;
    margin-top: .48rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.complaintList .complaint_item .detail_content::after {
    content: "";
    background-color: transparent;
    display: block;
    height: 2px;
    width: 100%;
}
.order-handle_box{
    position: relative;
}
.complaintList .complaint_item div.time {
    color: rgba(255, 255, 255, .3);
    font-size: .47rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.complaintList .complaint_item .img_list {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: .48rem;
    flex-wrap: wrap;
}

.complaintList .complaint_item .img_list img {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 0.48rem;
}

.compaintDetail {
    width: 95%;
    margin: .48rem auto;
}

.compaintDetail .title {
    width: 100%;
    justify-content: space-between;
}
.complaintList .complaint_item .title .status{
    background-color: transparent;
}
.complaintList .complaint_item .title .title_content,.complaintList .complaint_item .detail_content,.complaintList .complaint_item .time{
    color:rgba(255, 255, 255, .8);
}

.compaintDetail .title .title_content {
    font-size: .671999rem;
    color: rgba(255, 255, 255, .8);
    font-weight: bold;
    flex: 1;
    line-height: 1.3;
}


.compaintDetail .title .status {
    font-size: .576rem;
    color: #fff;
    background-color: #ff8c00;
    padding: 0 .24rem;
    height: .959999rem;
    line-height: .959999rem;
    border-radius: .48rem;
    -webkit-border-radius: .48rem;
    -moz-border-radius: .48rem;
    -ms-border-radius: .48rem;
    -o-border-radius: .48rem;
}

.feedback {
    width: 100%;
    justify-content: space-between;
    height: 2.399998rem;
    color: #666666;
}

.feedback .img_content .icon {
    width: .719999rem;
    height: .719999rem;
    margin-right: .48rem;
}

.detail_content {
    width: 100%;
    font-size: .624rem;
    line-height: 1.5;
}

.detail_content li {
    border-bottom: .024rem solid #e5e5e5;
    padding-top: .36rem;
}

.detail_content .title {
    border-left: .1rem solid #FF840A;
    padding-left: .24rem;
    height: .839999rem;
    line-height: .839999rem;
    margin: .48rem auto;
}

.detail_content .content {
    color: #333333;
}

.detail_content .img_content img {
    width: 100%;
    margin-bottom: .36rem;
}
/* 主题 s */
.detail-list{
    background: rgba(255, 255, 255, .1);
}
.detail-list .detail-item .name{
    color: rgba(255, 255, 255, .8);
    font-size: .512rem;
}
.detail-list .detail-item.title{
    color: rgba(255, 255, 255, .8);
    position: relative;
}
.detail-list .detail-item.title::after{
    content: '';
    position: absolute;
    left: -.3rem;
    top: 50%;
    width: 2px;
    height: .427rem;
    background-color: #FF8C00;
    transform: translateY(-50%);
}
.detail-list .detail-item .content{
    color: rgba(255, 255, 255, .8);
}
.detail-list .detail-item{
    border-color: transparent;
    width: 90%;
}
.detail-list .detail-item .content_input{
    background: transparent;
    color: rgba(255, 255, 255, .8);
}
/* 收货信息 s*/
.detail-list .detail-item .content i.receiving{
    display: inline-block;
    background: url(/static/img/theme/setting_choose.png) no-repeat left center;
    background-size: .64rem .64rem;
    padding-left: .853rem;
    margin-right: .5rem;
    color: rgba(255, 255, 255, .8);
}
.detail-list .detail-item .content i.receiving.active{
    display: inline-block;
    background: url(/static/img/theme/setting_choosed.png) no-repeat left center;
    background-size: .64rem .64rem;
}
.detail-list  .gift_my_address.detail-item{

}
.detail-list  .gift_my_address.detail-item{
    border: 2px dashed rgba(255, 255, 255, .4);
    -webkit-border-radius:.2rem;
    border-radius: .2rem;
    padding: .3rem .64rem;
    color: rgba(255, 255, 255, .8);
    position: relative;
    font-weight: 300;
    margin-top: .2rem;
    overflow: hidden;
}
.gift_addres_setting{
    position: absolute;
    right:.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.detail-list  .gift_my_address.detail-item a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, .8);
}
.gift_my_address .gift_addres_top .fl{
    font-size: .512rem;
    height: 1.28rem;
    line-height: 1.28rem;
}
.gift_my_address  a > div{
    line-height: 1.28rem;
}
.gift_my_address .gift_addres_top .fl.my_name{
    max-width: 6.4rem;
    overflow: hidden;
}
.gift_my_address .gift_addres_top .fl.my_tel{
    margin-left: .5rem;
}
.gift_my_address .gift_addres_bottom .gift_addres_detail{
    min-height: 1.28rem;
    padding-top: .2rem;
}
.gift_my_address .gift_addres_bottom .gift_addres_detail p{
    width: 8.5rem;
    font-size: .512rem;
    margin-left: .5rem;
    line-height: 1rem;
    word-break: break-all;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.gift_my_address  .fl span{
    font-size: .6rem;
    vertical-align: middle;
}
/* 收货信息 e*/
/*  */
div.mobilePassword-mask{
    background: rgba(0, 0, 0, .6);
}
.orderList-list{
    /*background: rgba(255, 255, 255, .1);*/
}
.orderList-list .list-item,.goods-info,.order-handle{
    background: transparent;
}
.orderList-list .list-item .order-info{
    color: rgba(255, 255, 255, .8);
}
.orderList-list .list-item .order_status_text{
    color: rgba(255, 255, 255, .8);
}
.goods-info{
    border-color: rgba(255, 255, 255, .1);
}
.goods-info .goods-detail .info .user_name,.goods-info .goods-detail .info{
    color: rgba(255, 255, 255, .8);
}
.goods-info .goods-detail .info .mobile{
    color: rgba(255, 255, 255, .8);
}
.goods-info .goods-detail{
    justify-content: space-around;
}
.order-handle .handle-btn{
    border-color: #6356E2;
    background: #6356E2;
    color: rgba(255, 255, 255, .8);
    width: 3.413rem;
    text-align: center;
    padding: 0;
}
.order__detail--head{
    background: rgba(255, 255, 255, .1);
}
.order-handle .handle-btn.refuse{
    color: #6356E2;
    border-color: #6356E2;
    background-color: transparent;
}
.order-handle .handle-btn.go_other{
    background-color: transparent;
    border-color: rgba(255, 255, 255, .8);
    color: rgba(255, 255, 255, .8);
}
.remark_alert{
    background: url(../images/theme/alert_banner.png) no-repeat;
    background-size: 100% 100%;
    padding: 0 .5rem;
}
.remark_alert .alert_title{
    color: #DAD6FF;
    font-size: .683rem;
    letter-spacing: 2px;
    border-color: #DAD6FF;
}
.remark_alert .alert_content{
    border-color: #DAD6FF;
}
.remark_alert .alert_content .main_input{
    background: transparent;
    color: rgba(255, 255, 255, .8);
}
.remark_alert .alert_content .main_input::-webkit-input-placeholder{
    color: #DAD6FF;
}
.order_list_upgrade_btn a{
    background: url(../images/theme/small_btn.png) no-repeat;
    background-size: 100% 100%;
}
.orderList-status{
    /*background-color: rgba(255, 255, 255, .1);*/
}
/* 主题 e */
/* 闯关记录弹窗 s*/
.orderList_dialog_mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    z-index: 99;
}
.orderList_dialog{
    position: fixed;
    width: 10.71rem;
    min-height: 9.728rem;
    background: #fff;
    z-index: 100;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: .3rem;
    display: none;
}
.orderList_dialog .dialog_title{
    width: 100%;
    color: #666;
    height: 1.835rem;
    line-height: 1.835rem;
    font-size: .683rem;
    text-align: center;
    border-bottom: 1px solid #CFCFCF;
    position: relative;
}
.orderList_dialog .dialog_title .evaluate_close{
    position: absolute;
    width: 1.28rem;
    height: 1.28rem;
    background: url(../images/theme/pj_close.png) no-repeat;
    background-size: 100% 100%;
    right: -.614rem;
    top: -.614rem;
}
.orderList_dialog .dialog_content{
    width: 100%;
    padding: 0 1.28rem;
    text-align: center;
    border-bottom: 1px solid #CFCFCF;
}
.orderList_dialog .dialog_content ul{
    width: 100%;
    overflow: hidden;
}
.orderList_dialog .dialog_content ul li{
    width:100%;
    height: 2.113rem;
    line-height: 2.113rem;
    text-align: left;
}
.orderList_dialog .dialog_content ul li img{
    width: .768rem;
    height: .768rem;
    margin-right: .341rem;
}
.orderList_dialog .dialog_content ul li span{
    color: #999;
    font-size: .597rem;
}
.orderList_dialog .dialog_content ul li.active span{
    color: #666;
}
.orderList_dialog .dialog_content ul li i{
    display: inline-block;
    width: .64rem ;
    height: .64rem;
    background: url(/static/img/theme/setting_choose.png) no-repeat left center;
    background-size: .64rem .64rem;
    color: rgba(255, 255, 255, .8);
    margin-top: .7254rem;
}
.orderList_dialog .dialog_content ul li.active i{
    display: inline-block;
    width: .64rem ;
    height: .64rem;
    background: url(/static/img/theme/setting_choosed.png) no-repeat left center;
    background-size: .64rem .64rem;
    margin-top: .7254rem;
}
.orderList_dialog .submit_evaluate a{
    display: inline-block;
    width: 100%;
    height: 1.877rem;
    line-height: 1.877rem;
    text-align: center;
    color: #6356E2;
    font-size: .64rem;
    letter-spacing: 2px;
}
/* 闯关记录弹窗 e*/
/* order_list 搜索 s*/
.orderList-search{
    padding: .427rem 0;
    /*background: rgba(255, 255, 255, .1);*/
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.orderList-search .order_search {
    width: 95%;
    margin: 0 auto;
    height: 1.28rem;
    justify-content: space-between;
    height: 1.28rem;
}

.orderList-search .order_search .search_content {
    height: 1.28rem;
    flex: 1;
    border-radius: .64rem;
    -webkit-border-radius: .64rem;
    -moz-border-radius: .64rem;
    -ms-border-radius: .64rem;
    -o-border-radius: .64rem;
    padding-left: .626667rem;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    position: relative;

}

.orderList-search .search_content .icon {
    width: .64rem;
    height: .64rem;
    margin-right: .32rem;
    position: absolute;
    top: .34rem;
    left: 3rem;
}
.orderList-search .order_search .search_btn {
    width: 2.133333rem;
    height: 100%;
    text-align: center;
    height: 1.28rem;
    line-height: 1.28rem;
    border-radius: .64rem;
    -webkit-border-radius: .64rem;
    -moz-border-radius: .64rem;
    -ms-border-radius: .64rem;
    -o-border-radius: .64rem;
    font-size: .683rem;
    color: rgba(255, 255, 255,.8);
}
.order_search  .search_content .searchInput{
    flex: 1;
    height: 80%;
    border: none;
    outline: none;
    background: transparent;
    color: rgba(255, 255, 255,.8);
    text-align: center;
}
.order_search .search_content .searchInput::-webkit-input-placeholder{
    text-align: center;
    color: rgba(255, 255, 255, .2);
}
/* order_list 搜索 e*/

