<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.zody.yingxiao.mapper.PassMapper">

    <resultMap id="passDo" type="cc.zody.yingxiao.dataobject.Pass">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="pass_user_id" jdbcType="INTEGER" property="passUserId"/>
        <result column="level_num" jdbcType="INTEGER" property="levelNum"/>
        <result column="express_type" jdbcType="INTEGER" property="expressType"/>
        <result column="express_status" jdbcType="INTEGER" property="expressStatus"/>
        <result column="pass_status" jdbcType="INTEGER" property="passStatus"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <insert id="insertPass">
        insert into pass
        (user_id,pass_user_id,level_num,pass_status,express_type,express_status,gmt_create,gmt_modified)
        values
        (#{userId},#{passUserId},#{levelNum},#{passStatus},#{expressType},#{expressStatus},now(),now())
    </insert>

    <select id="listByUser" resultMap="passDo">
        select * from pass where user_id = #{userId}
    </select>

    <select id="listByPassUserId" resultMap="passDo">
        select * from pass where pass_user_id = #{id}
    </select>

    <select id="listById" resultMap="passDo">
        select * from pass where id = #{id} limit 1
    </select>


    <select id="listByLevel" resultMap="passDo">
        select * from pass where user_id = #{userId} and level_num = #{levelNum}
    </select>

    <update id="updatePassStatus">
        update pass set pass_status=#{passStatus}
        ,gmt_modified = now(),remark=#{remark}
        where id = #{id}
    </update>

</mapper>